---
import Layout from '@layouts/Layout.astro';
import SectionLink from '@components/SectionLink.astro';
import sections from '@datas/sections';
---

<Layout title="Composants">
    <ul class="grid grid-cols-3 gap-6">
        {
            sections.map((item, index) => (
                <li>
                    <SectionLink
                        href={ item.href }
                        title={ item.title }
                        label={ item.label }
                    />
                </li>
            ))
        }
    </ul>
</Layout>
