---
import Layout from '@layouts/Layout.astro';
import Slideshow from '@components/Slideshow.astro';
import HeroBannerLeft from '@components/HeroBannerLeft.astro';
import HeroBannerRight from '@components/HeroBannerRight.astro';
import HeroBannerCenter from '@components/HeroBannerCenter.astro';
---

<Layout title="Welcome to Astro.">
    <div class="fixed top-0 bottom-0 left-0 overflow-Y-auto w-80 p-8 bg-slate-900 text-slate-100">
        <h1 class="mb-8 text-2xl font-bold">Composants</h1>
        <ul class="space-y-3">
            <li class="mb-2 pb-2 border-b border-slate-500">
                <a href="#slideshow">Slideshow</a>
            </li>
            <li class="mb-2 pb-2 border-b border-slate-500">
                <a href="#herobannerleft">Hero Banner Left</a>
            </li>
            <li class="mb-2 pb-2 border-b border-slate-500">
                <a href="#herobannerright">Hero Banner Right</a>
            </li>
            <li class="mb-2 pb-2 border-b border-slate-500">
                <a href="#herobannercenter">Hero Banner Center</a>
            </li>
        </ul>
    </div>
    <main class="max-w-5xl ml-80 p-8">
        <div id="slideshow" class="mb-8 pb-8 border-b border-slate-200">
            <h2 class="mb-4 text-lg font-semibold">Slideshow</h2>
            <Slideshow />
        </div>
        <div id="herobannerleft" class="mb-8 pb-8 border-b border-slate-200">
            <h2 class="mb-4 text-lg font-semibold">Hero Banner Left</h2>
            <HeroBannerLeft src="./images/unsplash-daniel-sessler-1024.jpg"
                            alt="Paysage de Daniel Sessler"
                            width="1024"
                            height="683"
                            title="Lorem ipsum"
                            body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique inventore quo, aut pariatur ipsa natus illo nihil nesciunt minima? Eum nulla qui assumenda, consequatur obcaecati sunt dolor quos nisi suscipit." />
        </div>
        <div id="herobannerright" class="mb-8 pb-8 border-b border-slate-200">
            <h2 class="mb-4 text-lg font-semibold">Hero Banner Right</h2>
            <HeroBannerRight src="./images/unsplash-bob-brewer-1024.jpg"
                            alt="Paysage de Bob Brewer"
                            width="1024"
                            height="683"
                            title="Lorem ipsum"
                            body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique inventore quo, aut pariatur ipsa natus illo nihil nesciunt minima? Eum nulla qui assumenda, consequatur obcaecati sunt dolor quos nisi suscipit." />
        </div>
        <div id="herobannercenter" class="mb-8 pb-8 border-b border-slate-200">
            <h2 class="mb-4 text-lg font-semibold">Hero Banner Center</h2>
            <HeroBannerCenter src="./images/unsplash-anthony-tuil-1024.jpg"
                            alt="Paysage de Anthony Tuil"
                            width="1024"
                            height="683"
                            title="Lorem ipsum"
                            body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique inventore quo, aut pariatur ipsa natus illo nihil nesciunt minima? Eum nulla qui assumenda, consequatur obcaecati sunt dolor quos nisi suscipit." />
        </div>
    </main>
</Layout>
