---
import Layout from '@layouts/Layout.astro';
import Slideshow from '@components/Slideshow.astro';
import HeroBannerLeft from '@components/HeroBannerLeft.astro';
import HeroBannerRight from '@components/HeroBannerRight.astro';
import HeroBannerCenter from '@components/HeroBannerCenter.astro';
import ComponentContainer from '@components/ComponentContainer.astro';
import ComponentList from '@components/ComponentList.astro';
---

<Layout title="Welcome to Astro.">
    <div class="fixed top-0 bottom-0 left-0 overflow-Y-auto w-80 p-8 bg-slate-900 text-slate-100">
        <h1 class="mb-8 text-2xl font-bold">Composants</h1>
        <ComponentList />
    </div>
    <main class="max-w-5xl ml-80 p-8">
        <ComponentContainer id="slideshow" title="Slideshow">
            <Slideshow />
        </ComponentContainer>

        <ComponentContainer id="herobannerleft" title="Hero Banner Left">
            <HeroBannerLeft src="./images/unsplash-daniel-sessler-1024.jpg"
                            alt="Paysage de Daniel Sessler"
                            width="1024"
                            height="683"
                            title="Lorem ipsum"
                            body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique inventore quo, aut pariatur ipsa natus illo nihil nesciunt minima? Eum nulla qui assumenda, consequatur obcaecati sunt dolor quos nisi suscipit." />
        </ComponentContainer>

        <ComponentContainer id="herobannerright" title="Hero Banner Right">
            <HeroBannerRight src="./images/unsplash-bob-brewer-1024.jpg"
                             alt="Paysage de Bob Brewer"
                             width="1024"
                             height="683"
                             title="Lorem ipsum"
                             body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique inventore quo, aut pariatur ipsa natus illo nihil nesciunt minima? Eum nulla qui assumenda, consequatur obcaecati sunt dolor quos nisi suscipit." />
        </ComponentContainer>

        <ComponentContainer id="herobannercenter" title="Hero Banner Center">
            <HeroBannerCenter src="./images/unsplash-anthony-tuil-1024.jpg"
                              alt="Paysage de Anthony Tuil"
                              width="1024"
                              height="683"
                              title="Lorem ipsum"
                              body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique inventore quo, aut pariatur ipsa natus illo nihil nesciunt minima? Eum nulla qui assumenda, consequatur obcaecati sunt dolor quos nisi suscipit." />
        </ComponentContainer>

    </main>
</Layout>
