---

---

<nav aria-label="Breadcrumb" class="py-2.5 md:py-4 bg-slate-50 border-y border-slate-200">
    <ol class="flex max-w-5xl mx-auto px-4" role="list">
      <li class="after:content-['/'] after:mx-2 md:after:mx-4 after:text-slate-300" role="listitem">
          <a href="#" class="text-sm lg:text-base text-slate-400 hover:text-sky-500 capitalize border-b border-slate-400 hover:border-sky-500 transition-colors">Home</a>
      </li>
      <li class="after:content-['/'] after:mx-2 md:after:mx-4 after:text-slate-300" role="listitem">
          <a href="#" class="text-sm lg:text-base text-slate-400 hover:text-sky-500 capitalize border-b border-slate-400 hover:border-sky-500 transition-colors">Composants</a>
      </li>
      <li class="after:content-['/'] after:mx-2 md:after:mx-4 after:text-slate-300 " role="listitem">
          <a href="#" class="text-sm lg:text-base text-slate-400 hover:text-sky-500 capitalize border-b border-slate-400 hover:border-sky-500 transition-colors">Navigation</a>
      </li>
      <li role="listitem">
        <strong class="text-sm lg:text-base font-medium capitalize">Breadcrumbs</strong>
    </li>
    </ol>
  </nav>