---
const {"@click": click, "class": buttonClass, ":class": dynamicClass, ":text": label } = Astro.props;
---

<button type="button"
        @click={click}
        class={buttonClass}
        :class={dynamicClass}>
    <span class="sr-only" :text={label}></span>
    <slot/>
</button>