---
import ComponentListSectionTitleLink from "./ComponentListSectionTitleLink.astro";
import ComponentListItemLink from "./ComponentListItemLink.astro";
---
<ul>
    <li class="mb-4">
        <ComponentListSectionTitleLink href="/actions" title="Actions" label="Actions" />
        <ul>
            <ComponentListItemLink href="/actions#modal" title="Modal"/>
        </ul>
    </li>
    <li class="mb-4">
        <ComponentListSectionTitleLink href="/data-display" title="Data display" label="Data display" />
        <ul>
            <ComponentListItemLink href="/data-display#accordion" title="Accordion"/>
            <ComponentListItemLink href="/data-display#avatar" title="Avatar"/>
            <ComponentListItemLink href="/data-display#slideshow" title="Slideshow"/>
            <ComponentListItemLink href="/data-display#tabz" title="Tabz"/>
            <ComponentListItemLink href="/data-display#timeline" title="Timeline"/>
        </ul>
    </li>
    <li class="mb-4">
        <ComponentListSectionTitleLink href="/navigation" title="Navigation" label="Navigation" />
        <ul>
            <ComponentListItemLink href="/navigation#breadcrumbs" title="Breadcrumbs"/>
            <ComponentListItemLink href="/navigation#menu" title="Menu"/>
            <ComponentListItemLink href="/navigation#pagination" title="Pagination"/>
            <ComponentListItemLink href="/navigation#steps" title="Steps"/>
        </ul>
    </li>
    <li class="mb-4">
        <ComponentListSectionTitleLink href="/feedback" title="Feedback" label="Feedback" />
        <ul>
            <ComponentListItemLink href="/feedback#alert" title="Alert"/>
        </ul>
    </li>
    <li class="mb-4">
        <ComponentListSectionTitleLink href="/data-input" title="Data input" label="Data input" />
        <ul></ul>
    </li>
    <li class="mb-4">
        <ComponentListSectionTitleLink href="/layout" title="Layout" label="Layout" />
        <ul>
            <ComponentListItemLink href="/layout#herobannercenter" title="Hero Banner Center"/>
            <ComponentListItemLink href="/layout##herobannerleft" title="Hero Banner Left"/>
            <ComponentListItemLink href="/layout##herobannerright" title="Hero Banner Right"/>
            <ComponentListItemLink href="/layout##panelleft" title="Panel Left"/>
            <ComponentListItemLink href="/layout##panelright" title="Panel Right"/>
        </ul>
    </li>
</ul>