---
import Next from '@components/Button.astro';
import Prev from '@components/Button.astro';
import Dots from '@components/Button.astro';
import ArrowLeftCircle from 'astro-heroicons/micro/ArrowLeftCircle.astro';
import ArrowRightCircle from 'astro-heroicons/micro/ArrowRightCircle.astro';
---

<div x-data="{
    slides: [
        {
            id: 1,
            isVisible: true,
            imgSrc: './images/unsplash-daniel-sessler-375.jpg',
            imgAlt: 'Paysage',
            imgWidth: 375,
            imgHeight: 250
        },
        {
            id: 2,
            isVisible: false,
            imgSrc: './images/unsplash-anthony-tuil-375.jpg',
            imgAlt: 'Paysage',
            imgWidth: 375,
            imgHeight: 250
        },
        {
            id: 3,
            isVisible: false,
            imgSrc: './images/unsplash-bob-brewer-375.jpg',
            imgAlt: 'Paysage',
            imgWidth: 375,
            imgHeight: 250
        }
    ],

    currentIndex: 0,

    switchToIndex(index) {
        this.currentIndex = index;

        this.slides.forEach((slide, index) => {
            if(this.currentIndex === index ) {
                slide.isVisible = true
            } else {
                slide.isVisible = false
            }
        })
    },

    prev() {
        if (this.currentIndex == 0) {
            this.switchToIndex(this.slides.length - 1);
        } else {
            this.switchToIndex(this.currentIndex - 1);
        }
    },

    next() {
        if (this.currentIndex == this.slides.length - 1) {
            this.switchToIndex(0);
        } else {
            this.switchToIndex(this.currentIndex + 1);
        }
    },

    dots(index) {
        this.currentIndex = index;

        if (this.currentIndex == 0) {
            this.switchToIndex(this.slides.length - 1);
        } else {
            this.switchToIndex(this.currentIndex - 1);
        }

        if (this.currentIndex == this.slides.length - 1) {
            this.switchToIndex(0);
        } else {
            this.switchToIndex(this.currentIndex + 1);
        }
    }
}"
    class="relative flex flex-col w-fit px-8">
    <Prev @click="prev()"
                  class="absolute top-1/2 left-0 -translate-y-1/2"
                  :text="Slide précédente">
        <ArrowLeftCircle class="w-6 h-6"/>
    </Prev>
    <Next @click="next()"
                  class="absolute top-1/2 right-0 -translate-y-1/2"
                  :text="Slide suivante">
        <ArrowRightCircle class="w-6 h-6"/>
    </Next>
    <div>
        <template x-for="(slide, index) in slides" :key="index">
            <div x-show="slide.isVisible">
                <img :src="slide.imgSrc"
                     :alt="slide.imgAlt"
                     :width="slide.imgWidth"
                     :height="slide.imgHeight">
            </div>
        </template>
    </div>
    <ul class="flex justify-center">
        <template x-for="(slide, index) in slides" :key="index">
            <li class="mx-0.5">
                <Dots class="w-4 h-4 rounded-full"
                             @click="dots(index)"
                             :class="slide.isVisible ? 'bg-slate-600' : 'bg-slate-300'"
                             :text="index" />
            </li>
        </template>
    </ul>
</div>