---
---

<div class="steps" aria-label="Multi-step indicator">
    <ol class="steps-list">
        <li class="step step--completed">
            <a class="step-label" href="#0">Step 1 <span class="sr-only">- step completed</span></a>

            <span class="step__separator" aria-hidden="true">
                <svg class="step-icon" viewBox="0 0 16 16"><polyline fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="6.5,3.5 11,8 6.5,12.5 "></polyline></svg>
            </span>

            <div class="step-circle" aria-hidden="true">
                <svg class="step-icon" viewBox="0 0 16 16"><polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" points="1,9 5,13 15,3 "></polyline></svg>
            </div>
        </li>

        <li class="step step--current">
            <a class="step-label">Step 2 <span class="sr-only">- current step</span></a>

            <span class="step__separator" aria-hidden="true">
                <svg class="step-icon" viewBox="0 0 16 16"><polyline fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="6.5,3.5 11,8 6.5,12.5 "></polyline></svg>
            </span>

            <div class="step-circle" aria-hidden="true">2</div>
        </li>

        <li class="step">
            <a class="step-label">Step 3</a>

            <span class="step__separator" aria-hidden="true">
                <svg class="step-icon" viewBox="0 0 16 16"><polyline fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="6.5,3.5 11,8 6.5,12.5 "></polyline></svg>
            </span>

            <div class="step-circle" aria-hidden="true">3</div>
        </li>

        <li class="step">
            <a class="step-label">Step 4</a>

            <div class="step-circle" aria-hidden="true">4</div>
        </li>
    </ol>
</div>

<style>

/* variables */
:root {
    /* spacing */
    --sk5-space-2xs: 0.5625rem;
    --sk5-space-xs: 0.75rem;
    --sk5-space-md: 2rem;

    /* typography */
    --sk5-text-sm: 1rem;
  }
/* icons */
.step-icon {
  height: var(--sk5-size, 1em);
  width: var(--sk5-size, 1em);
  display: inline-block;
  color: inherit;
  fill: currentColor;
  line-height: 1;
  flex-shrink: 0;
  max-width: initial;
}

/* component */
:root {
  --steps-number: 4;
  --step-separator-line-stroke: 3px;
  --step-separator-line-gap: 3px;
  --step-circle-size: 32px;
  --step-circle-font-size: 16px;
}

.steps {
    padding: calc(var(--step-circle-size)/2) 0 0;
}

.steps-list {
    @apply grid grid-cols-4;
}

.step {
    @apply relative inline-flex items-center justify-center text-center;
    padding: 0 var(--sk5-space-xs);
}

.step-label {
    @apply inline-block text-slate-400 no-underline;
    margin-top: calc(var(--sk5-space-2xs) + var(--step-circle-size)/2);
}

.step--completed .step-label,
.step--current .step-label {
  @apply text-slate-800;
}

.step--completed .step-circle,
.step--current .step-circle {
    @apply text-white bg-slate-800;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.step--completed .step-label {
    @apply underline;
}

.step--completed .step__separator {
    @apply bg-slate-800;
}

.step__separator {
    @apply absolute overflow-hidden inline-block align-middle text-transparent whitespace-nowrap bg-slate-300;

    top: calc(var(--step-separator-line-stroke) * -1/2);
    left: calc(50% + var(--step-circle-size)/2 + var(--step-separator-line-gap));
    height: var(--step-separator-line-stroke);
    width: calc(100% - var(--step-circle-size) - var(--step-separator-line-gap)*2);
}

.step__separator .step-icon {
  @apply block;
}

.step-circle {
    @apply absolute flex justify-center items-center text-base leading-8 w-8 h-8 rounded-full bg-slate-300;
    left: calc(50% - var(--step-circle-size)/2);
    top: calc(var(--step-circle-size) * -1/2);
}

.step-circle .step-icon {
    @apply w-4 h-4;
}

</style>